@font-face {
    font-family: "roboto";
    src: url(/webfontkit-20230226-150730/roboto-regular.woff);
}

:root {
    --main-color: #de3237;
    --grey-color: #222234;
  }

/*Header Section*/
header {
    display: flex;
    justify-content: center;
}

#emoji:hover {
    -webkit-transform: rotate(25deg);
    display: inline-block;
}

/*Navigation links*/
nav {
    justify-content: right;
    margin-top: 30px;
}

.navlink {
    font-family: 'roboto', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 3px;
    transition: all 0.5s ease-in-out;
}

.navlink:hover {
    color: white;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px var(--main-color);
    border-top: solid 2px var(--main-color);
}

/*Main body and text settings*/

body {
    height: 100vh;
    background-image: url(images/portfolio_background_4.gif);
    cursor: crosshair;
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-family: "roboto", arial, sans-serif;
    font-size: 60px;
    color: white;
    margin: 10px 0px 0px 10px;
}

h2 {
    font-family: "roboto", arial, sans-serif;
    font-size: 48px;
    color: white;
    text-align: center;
}

h3 {
    font-family: "roboto", arial, sans-serif;
    font-size: 24px;
    color: var(--main-color);
    width: 80%;
    text-align: center;
}

h4 {
    font-family: "roboto", arial, sans-serif;
    font-size: 32px;
    text-align: center;
    color: var(--main-color);
}

p {
    color: black;
    font-family: 'roboto', arial, sans-serif;
}

#about > p {
    margin: 0px 10px 0px 0px;
}

#body-container {
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-body {
    padding: 10px;
    background-color: #f5f1f1;
}

/*About Me, Portfolio, and Contact Sections*/
#about, #port, #contact {
    display:flex;
    align-items: center;
    justify-content: center;
}

/*About Me Section*/

.pics {
    width: 100px;
}

#slashes {
    color: var(--main-color);
}

/*Portfolio Section*/

#portfoliogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 950px;
}

#portfoliofeature {
    background-image: url(images/schem_example1.png);
    background-size: cover;
    grid-column: 1/3;
    border: solid 3px var(--main-color);
    margin: 5px;
    height: 425px;
    position: relative;
  }

.featinfo {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: solid 1px var(--main-color);
    background-color: var(--grey-color);
    opacity: .85;
}

.featinfo > p {
    font-family: "roboto", arial, sans-serif;
    color: white;
    margin: 5px;
    padding: 3px;
}

/*Smaller portfolio sections*/
.sub1, .sub2, .sub3, .sub4 {
    display:flex; 
    justify-content:center; 
    align-items:center; 
    border: solid 3px var(--main-color);
    height: 125px;
    margin: 5px;
    position: relative;
    background-size: cover;
}

.sub1 {
    background-image: url(images/findandstreamscreenshot.png);
  }

.sub2 {
    background-image: url(images/horiseonscreenshot.png);
  }

.sub3 {
    background-image: url(images/examplefill3.png);
  }

.sub4 {
    background-image: url(images/examplefill4.png);
  }

  #portfoliofeature:hover, .sub1:hover, .sub2:hover, .sub3:hover, .sub4:hover {
    border-color: var(--grey-color);
  }

  /*Smaller portfolio information blocks*/
  .subinfo {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: solid 1px var(--main-color);
    background-color: var(--grey-color);
    opacity: .85;
}

.subinfo > p {
    font-family: "roboto", arial, sans-serif;
    color: white;
    font-size: 12px;
    margin: 2px;
    padding: 3px;
}

/*Contact Section*/

.contactlinks {
     color: var(--main-color);
}

.techstack {
    height: 50px;
    margin-top: 10px;
}
.techstack:hover {
    padding: 2px;
    border-bottom: solid 2px var(--main-color);
    border-top: solid 2px var(--main-color);
}

#intro {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-left: solid 1px var(--main-color);
}
#intro > p {
    color: white;
    font-size: 18px;
    width: 60%;
}

/*Footer Section*/
#quote {
    font-style: italic;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 20px;
    text-align: center;
}

/*Responsive style for smaller screens (950)*/
@media only screen and (max-width: 950px) {
    /*Adjust background*/
    body {
        background-size: auto;
        background-position: top right;
    }
}

/*Responsive styles for smaller screens (768px)*/
@media only screen and (max-width: 768px) {

    /*Adjust background*/
    body {
        background-size: auto;
        background-position: top right;
    }

    /*Shrink header size*/
    h1 {
        font-size: 36px;
    }

    /*Align all text center*/
    header, h1, h2, p, #about, #contact {
        text-align: center;
    }

    /*Change displays from flex to block*/ 
    header, #about, #port, #contact, h2,    .sub1, .sub2, .sub3, .sub4 {
        display: block;
    }

    /*Change width to 100%*/
    #intro, li, #portfoliofeature, .sub1, .sub2, .sub3, .sub4 {
        width: 100%;
    }

    #portfoliogrid {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
        width: 100%;
    }
    #portfoliofeature {
        width: 100%;
    }
    
    #techstack {
        width: 75%;
    }

  }