@font-face {
    font-family: "roboto";
    src: url(/webfontkit-20230226-150730/roboto-regular.woff);
}

/*Header Section*/
header {
    display: flex;
    justify-content: center;
}

#emoji:hover {
    -webkit-transform: rotate(-10deg);
    display: inline-block;
}

/*Navigation links*/
nav {
    justify-content: right;
    margin-top: 30px;
}

.navlink {
    font-family: 'roboto', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 3px;
    transition: all 0.5s ease-in-out;
}

.navlink:hover {
    color: #00ffff;
    border-left: none;
    border-right: none;
    border-bottom: solid 4px #00ffff;
    border-radius: 3px;
}

/*Main body and text settings*/

body {
    height: 100vh;
    background-image: url(images/anime_scenery_background.gif);
    cursor: crosshair;
    background-size: cover;
}

h1 {
    font-family: 'roboto', Arial, sans-serif;
    font-size: 90px;
    color: white;
    text-shadow: 2px 2px 2px steelblue;
    margin: 10px 0px 0px 10px;
}

h2 {
    font-family: 'roboto', Arial, sans-serif;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 2px steelblue;
    text-align: center;
}

h3 {
    font-family: 'roboto', Arial, sans-serif;
    font-size: 24px;
    color: steelblue;
    margin-right: 50px;
    margin-left: 50px;
}

h4 {
    font-family: 'roboto', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    color: steelblue;
}

p {
    color: steelblue;
    font-family: 'roboto', Arial, sans-serif;
}

#body-container {
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal {
    opacity:0.9 !important;
}
.modal-body {
    padding: 20px;
}

/*About Me, Portfolio, and Contact Sections*/
#about, #port, #contact {
    display:flex;
    align-items: center;
    justify-content: center;
}

#about:hover, #port:hover, #contact:hover {
    border-color: #00ffff;
}

/*About Me Section*/

.pics {
    width: 100px;
}

li {
    color: white;
}

/*Portfolio Section*/

#portfoliogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 950px;
}

#portfoliofeature {
    background-image: url(images/findandstreamscreenshot.png);
    background-size: cover;
    grid-column: 1/3;
    border: solid 3px white;
    margin: 5px;
    height: 425px;
    position: relative;
  }

.featinfo {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: solid 3px white;
    background-color: #00ffff;
    opacity: .85;
}

.featinfo > p {
    font-family: 'roboto', Arial, sans-serif;
    color: darkblue;
    margin: 5px;
}

/*Smaller portfolio sections*/
.sub1, .sub2, .sub3, .sub4 {
    display:flex; 
    justify-content:center; 
    align-items:center; 
    border:solid 3px white;
    height: 125px;
    margin: 5px;
    position: relative;
    background-size: cover;
}

.sub1 {
    background-image: url(images/horiseonwide.png);
  }

.sub2 {
    background-image: url(images/examplefill2.png);
  }

.sub3 {
    background-image: url(images/examplefill3.png);
  }

.sub4 {
    background-image: url(images/examplefill4.png);
  }

  #portfoliofeature:hover, .sub1:hover, .sub2:hover, .sub3:hover, .sub4:hover {
    border-color: steelblue;
  }

  /*Smaller portfolio information blocks*/
  .subinfo {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: solid 3px white;
    background-color: steelblue;
    opacity: .85;
}

.subinfo > p {
    font-family: 'roboto', Arial, sans-serif;
    color: black;
    font-size: 12px;
    margin: 2px;
}

/*Contact Section*/

.contactlinks {
     color: steelblue;
}

/*Footer Section*/
#quote {
    font-style: italic;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 2px steelblue;
    text-align: center;
}

footer {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: center;
}


/*Responsive style for smaller screens (950)*/
@media only screen and (max-width: 950px) {
    /*Adjust background*/
    body {
        background-size: auto;
        background-position: top right;
    }
}

/*Responsive styles for smaller screens (768px)*/
@media only screen and (max-width: 768px) {

    /*Adjust background*/
    body {
        background-size: auto;
        background-position: top right;
    }

    /*Shrink header size*/
    h1 {
        font-size: 36px;
    }

    /*Align all text center*/
    header, h1, h2, p, #about, #contact {
        text-align: center;
    }

    /*Change displays from flex to block*/ 
    header, #about, #port, #contact, h2,    .sub1, .sub2, .sub3, .sub4 {
        display: block;
    }

    /*Change width to 100%*/
    #intro, li, #portfoliofeature, .sub1, .sub2, .sub3, .sub4 {
        width: 100%;
    }

    #portfoliogrid {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
        width: 100%;
    }
  }